django==4.2
gunicorn
twilio==8.5.0
python-decouple==3.8
requests==2.30.0
dj_database_url==2.0.0
psycopg2==2.9.6
pillow==9.5.0
apscheduler==3.10.1
xhtml2pdf==0.2.10
scikit-learn==1.2.2
matplotlib==3.7.1
opencv-contrib-python==4.7.0.72
opencv-python==4.8.0.74
opencv-python-headless==4.7.0.72
matplotlib-inline==0.1.6