{% load static %}
{% if messages %}

    
    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 3000);
    </script>
    
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show md-6" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
